# every python cache file
__pycache__/
**.pyc
# every python cache file
*.pyo
# every python cache file
*.pyd
# every python cache file
*.pdb
src/job_boards_search/job_boards_search/__pycache__/settings.cpython-311.pyc
